{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" type="text/css" href=" {% static 'css/styles.css' %} ">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body>
<div>
{% include 'navbar.html' %}

</div>
<div class="uk-grid uk-height-1-1">
    {% include 'side_menu.html' %}
    <div class="uk-width-4-5@m">
        <div class="uk-padding">
            {% block main %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>