<div class="uk-width-1-5@m uk-visible@m uk-tile-muted">
    <div class="uk-padding">
        <div>
            <h5>Categories</h5>
            <ul class="uk-list">
                <li>Action</li>
                <li>Drama</li>
                <li>Comedy</li>
                <li>Romance</li>
            </ul>
        </div>
        <div>
            <h5>Price Range</h5>
            <input type="range" min="10" max="999">
        </div>
        <div>
            <h5>Book Bindings</h5>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-checkbox" type="checkbox"> Hardcover</label>
                <label><input class="uk-checkbox" type="checkbox"> Paperback</label>
            </div>
        </div>
    </div>
</div>