<div class="uk-width-1-5@m uk-visible@m uk-tile-muted">
    <div class="uk-padding">
        <form method="get" action="{% url 'search-books' %}">
            <div>
                <h5>Categories</h5>
                <ul class="uk-list">
                    {% for category in categories %}
                    <li class="pointer" hx-get="{% url 'search-books' %}" hx-target="#book-grid" hx-vals='{"category": "{{category}}"}'>{{category}}</li>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>
</div>